<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <form method="post"  action="{{ url_for('index') }}" >
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter message to classify to ham or spam</label>
            <input type="text" class="form-control" name="review_msg" id="id_message">
            
            </div >
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary">Ham or Spam</button>
            </div>
        </form>
        {% if message_status %}
        <div>
            The message you have entered is {{message_status}}
        </div>
        {% endif %}
    </div>
</body>
</html>